<h1>Ejemplos de interpolación</h1>
<h2>{{ mensaje }}</h2>
<h3>{{ 'Mi usuario de GitHub es' +  getNombre()}}</h3>
<h1>Ejemplo de property binding</h1>
<img [src]=imagenURL />
<br/>
<button [disabled]="estadoBoton">Botón</button>
<h1>Ejemplos de Class Binding</h1>
<button [class.activo]="esActivo">Botón Binding</button>
<h1>Ejemplos de Style Binding</h1>
<button [style.backgroundColor]="esActivo ? 'lightgreen' : 'indianred'">Botón Style Binding</button>
<br/>
<button [style.borderColor]="esActivo ? 'lightgreen' : 'indianred'">Botón Style Binding</button>
<h1>Ejemplos de Event Binding</h1>
<button (click)="save($event)">Event Click</button>
<button (mouseover)="save($event)">Event Mouse Ever</button>
<h1>Ejemplos de Event Filtering</h1>
<input type="text" (keyup)="onKeyUp($event)" placeholder="OnKeyUp general">
<input type="text" (keyup.enter)="onKeyUpEnter()" placeholder="OnKeyUp con filtro ENTER">
<h1>Ejemplos de Template variable</h1>
<input type="text" (keyup.enter)="onKeyUp2(usuario.value)" #usuario>
<hr />
<cursos></cursos>
